<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="img/desty.jpg" alt="Desty Laela" class="img-thumbnail rounded-circle" width="150" />
            <h1 class="display-4">Desty Laela</h1>
            <p class="lead">Mahasiswi Informatika STT PATI</p>
        </div>
    </div>
</div>